*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
}

.jumbotron{
  margin-bottom: 0;
  background-color: lightblue;
  text-align: center;
}

.work-heading{
  text-align: center;
}

.navbar-nav a:hover{
  background-color: indigo;
  color: white;
  transition: 0.8s ease;
}

.media img{
  height: 175px;
  width: 150px;
}

.carousel-item img{
  width: 100%;
  height: 500px;
}

/* creating space between footer and cards */
.card{
  margin-bottom: 100px
}

.card img{
  height: 250px;
}

.Banner{
  padding: 80px 0;
  background-color: lightblue;
  text-align: center;
}

.navigation{
  display: flex;
  padding: 15px 10px;
  background-color: dodgerblue;
}

.navigation a{
  text-decoration: none;
  color: lightgrey;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 10px;
  border: 3px;
}

.navigation a:hover{
  background-color: indigo;
  color: white;
  transition: 0.8s ease;
}

.page{
  background-image:url("../images/Graduate celebration.jpg");
  object-fit: cover;
}

.main-content{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 80px;
}

.main-content li{
  font-size: 18px;
}

.formal-education{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  width: 350px;
  height: 100vh;
  background-color: turquoise;
}

.qualifications{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: turquoise;
  width: 500px;
  height: 100vh;
}

.qualifications img{
  height: 250px;
  padding: 0 100px;
}

ul{
  list-style: none;
}

h3{
  color: maroon;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
}

#footer-nav{
  background-color: dimgrey;
}
